// Sass modules
@use "sass:map";

@use "themes" as *;
@use "components/mixins" as *;
@use "components/utilities" as *;

// Write all themes to HTML classes.
@each $theme, $colors in $themes {
  @include rootVariables(
    $theme,
    $colors,
    map.get($colors, form-feedback-valid),
    map.get($colors, form-feedback-invalid)
  );
}

// Border Radius Variables
$border-small: 0.2rem;
$border-medium: 0.4rem;
$border-large: 0.6rem;

// White and Grey colors TODO: #43 Remove and assign better names!
// $gray-300: #dee2e6;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-900: #212529;

// FONT OVERRIDES
$font-size-sm: 0.9rem;
$font-size-default: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xxl: 4rem;

$font-family-sans-serif: "Cabin", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// RANGE OVERRIDES
$component-active-bg: $secondary;
$form-range-track-bg: getColor(bg);
$form-range-track-cursor: pointer;

// IMPORT BOOTSTRAP 5
@import "~bootstrap/scss/bootstrap";
