@use "./custom" as *;
@use "components/utilities" as *;

:root {
  /* Set the position to relative and the min-height to 100%,
     so the footer always sticks to the bottom of the page. */
  position: relative;
  min-height: 100%;
}

body {
  // background: getColor("layout", "bg");
  background: getColorFromToken("background", "primary");
  color: getColor("layout", "text");
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;

  // Set the bottom margin, so the footer has enough space at the bottom of the page.
  margin: 0 0 6rem;
  @include media-breakpoint-down(md) {
    margin: 0 0 20rem;
  }
}

a {
  color: getColor("theme", "primary");

  &:hover {
    color: getColor("theme", "primary", "hover");
  }

  .feather-external-link {
    margin-left: 0rem;
    padding-bottom: 0.1rem;
  }
}

.link {
  color: getColor("theme", "primary");
  cursor: pointer;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    color: getColor("theme", "primary", "hover");
  }

  &-no-underline {
    text-decoration: none;
  }
}
