@use "./custom" as *;
@use "components/utilities" as *;

body {
  background: linear-gradient(
    200deg,
    getColor(bg-primary),
    transparent,
    transparent,
    transparent
  );
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: getColor(primary);

  &:hover {
    color: getColor(hover-primary);
  }
}
