@use "./custom" as *;
@use "components/utilities" as *;

body {
  background: getColor(layout-bg);
  color: getColor(layout-text);
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: getColor(theme-primary);

  &:hover {
    color: getColor(theme-primary-hover);
  }

  .feather-external-link {
    margin-left: 0rem;
    padding-bottom: 0.1rem;
  }
}
