// Sass modules
@use "sass:map";
@use "sass:color";

@use "components/utilities" as *;

// UNIVERSAL THEME COLORS
$primary: #46c3db;
$secondary: #2d6cdf;

// SYNTAX HIGHLIGHTING
$code-colors: (
  code-attribute: #b99a3d,
  code-background: #242424,
  code-builtin: #535353,
  code-comment: #007400,
  code-default: #bdbdbd,
  code-keyword: #57c0ff,
  code-meta: #c28b00,
  code-number: #a9c605,
  code-link: #0ea5ff,
  code-string: #f2884d,
  code-variable: #3f6e74,
);

// LIGHT THEME
$theme-colors-light: (
  primary: #46c3db,
  secondary: #2d6cdf,
  success: #16ca09,
);

$colors-light: (
  bg: #fff,
  text-default: #212529,
  text-primary: #fff,
  text-hover-primary: darken(#fff, 10%),
  hover-primary: darken(map.get($theme-colors-light, primary), 20%),
  text-secondary: #fff,
  hover-secondary: lighten(map.get($theme-colors-light, secondary), 20%),
  form-feedback-valid: #127b0a,
  form-feedback-invalid: #d50e0e,
  footer: #333333,
  gray-300: #dee2e6,
  gray-500: #adb5bd,
  gray-600: #6c757d,
  hover-gray-600: #767f86,
  gray-700: #495057,
  gray-900: #212529,
  button-dark: #000,
  hover-button-dark: #333,
  disabled-button-dark: #82888e,
  disabled-button-border-dark: #51585e,
  endpoint-form-example-container-outline: #ced4da,
);

$colors-light: multiMapMerge($theme-colors-light, $code-colors, $colors-light);

// Colorblind Light Theme
$colors-colorblind-light: map.merge(
  $colors-light,
  (
    form-feedback-valid: #116bdf,
    form-feedback-invalid: #9b5e10,
  )
);

// Dark Theme
$theme-colors-dark: (
  primary: color.scale(#46c3db, $saturation: -30%),
  secondary: color.scale(#2d6cdf, $saturation: -30%),
  success: #16ca09,
);

$colors-dark: (
  bg: #121212,
  text-default: #ffffffab,
  text-primary: #fff,
  text-hover-primary: darken(#fff, 10%),
  hover-primary: darken(map.get($theme-colors-dark, primary), 20%),
  text-secondary: #fff,
  hover-secondary: lighten(map.get($theme-colors-dark, secondary), 20%),
  form-feedback-valid: #127b0a,
  form-feedback-invalid: #d50e0e,
  footer: #333333,
  gray-300: #dee2e6,
  gray-500: #adb5bd,
  gray-600: #6c757d,
  hover-gray-600: #767f86,
  gray-700: #495057,
  gray-900: #212529,
  button-dark: #000,
  hover-button-dark: #333,
  disabled-button-dark: #82888e,
  disabled-button-border-dark: #51585e,
  endpoint-form-example-container-outline: #ced4da,
);

$colors-dark: multiMapMerge($theme-colors-dark, $code-colors, $colors-dark);

// Colorblind Light Theme
$colors-colorblind-dark: map.merge(
  $colors-dark,
  (
    form-feedback-valid: #116bdf,
    form-feedback-invalid: #9b5e10,
  )
);

// Map of all themes
// TODO: Dark, Colorblind Light, Colorblind Dark
$themes: (
  light: $colors-light,
  colorblind-light: $colors-colorblind-light,
  dark: $colors-dark,
  colorblind-dark: $colors-colorblind-dark,
);
