// Sass modules
@use "sass:map";
@use "sass:color";

@use "components/utilities" as *;

// UNIVERSAL THEME COLORS
$primary: #3c9bd6;
$secondary: #2d6cdf;

$base-theme: (
  settings: (
    hover: (
      theme: 20%,
    ),
  ),
  colors: (
    theme: (
      primary: $primary,
      secondary: $secondary,
      success: #16ca09,
      // TODO #78
      primary-text: #fff,
      // TODO #78
      secondary-text: #fff,
      // text-hover-primary: darken(#fff, 10%),
      // hover-primary: darken($primary, 20%),
      // hover-secondary: lighten($secondary, 20%),,
    ),
    layout: (
      bg: #fff,
      text: #212529,
      footer: #333333,
    ),
    code: (
      // SYNTAX HIGHLIGHTING
      attribute: #b99a3d,
      background: #242424,
      builtin: #535353,
      comment: #007400,
      default: #bdbdbd,
      keyword: #57c0ff,
      meta: #c28b00,
      number: #a9c605,
      link: #0ea5ff,
      string: #f2884d,
      variable: #3f6e74,
    ),
    docs: (
      navbar-heading: #000,
      navbar-link: #495057,
      navbar-link-active: #212529,
      navigate-box-outline: #dee2e6,
    ),
    button: (
      copy-content: #adb5bd,
      copy-border: #6c757d,
      hover-copy-border: #767f86,
      // TODO
      dark: #000,
      hover-dark: #333,
      // TODO
      disabled-dark: #82888e,
      disabled-border-dark: #51585e,
    ),
    form: (
      feedback-valid: #3c8c42,
      feedback-invalid: #b33224,
      endpoint-example-container-outline: #ced4da,
    ),
  ),
);

// LIGHT THEME
$theme-colors-light: (
  primary: #3c9bd6,
  secondary: #2d6cdf,
  success: #16ca09,
);

$colors-light: $base-theme;

// Colorblind Light Theme
$colors-colorblind-light: map.deep-merge(
  $colors-light,
  (
    colors: (
      form: (
        feedback-valid: #116bdf,
        feedback-invalid: #9b5e10,
      ),
    ),
  )
);

// Dark Theme
$theme-modifications-dark: (
  colors: (
    theme: (
      primary: color.scale(#46c3db, $saturation: -30%),
      secondary: color.scale(#2d6cdf, $saturation: -30%),
    ),
    layout: (
      bg: #201f1d,
      text: #ffffffab,
    ),
    docs: (
      navbar-heading: #bbbbbb,
      navbar-link: #8c959e,
      navbar-link-active: #acb4bc,
    ),
  ),
);

$colors-dark: map.deep-merge($base-theme, $theme-modifications-dark);

// Colorblind Light Theme
$colors-colorblind-dark: map.deep-merge(
  $colors-dark,
  (
    colors: (
      form: (
        feedback-valid: #116bdf,
        feedback-invalid: #9b5e10,
      ),
    ),
  )
);

// Map of all themes
// TODO: #44 Dark, Colorblind Light, Colorblind Dark
$themes: (
  light: $colors-light,
  colorblind-light: $colors-colorblind-light,
  dark: $colors-dark,
  colorblind-dark: $colors-colorblind-dark,
);
