// Sass modules
@use "sass:map";
@use "sass:color";

@use "components/utilities" as *;

// UNIVERSAL THEME COLORS
$primary: #3c9bd6;
$secondary: #2d6cdf;

$base-theme: (
  settings: (
    hover: (
      theme: 20%,
      button: 20%,
    ),
    text: (
      theme: 100%,
    ),
  ),
  colors: (
    theme: (
      primary: $primary,
      secondary: $secondary,
      success: #16ca09,
    ),
    layout: (
      bg: #fff,
      text: #212529,
      footer: #333333,
    ),
    docs: (
      navbar-heading: #000,
      navbar-link: #495057,
      navbar-link-active: #212529,
      navigate-box-outline: #dee2e6,
    ),
    button: (
      copy-content: #adb5bd,
      copy-border: #6c757d,
      dark: #000,
      disabled-dark: #82888e,
      disabled-border-dark: #51585e,
    ),
    form: (
      feedback-valid: #3c8c42,
      feedback-invalid: #b33224,
      endpoint-example-container-outline: #ced4da,
    ),
    code: (
      // SYNTAX HIGHLIGHTING
      attribute: #b99a3d,
      background: #242424,
      builtin: #535353,
      comment: #007400,
      default: #bdbdbd,
      keyword: #57c0ff,
      meta: #c28b00,
      number: #a9c605,
      link: #0ea5ff,
      string: #f2884d,
      variable: #3f6e74,
    ),
  ),
  color-tokens: (
    surface: (
      primary: (
        base: $primary,
      ),
      secondary: (
        base: $secondary,

        muted: (
          operation: "tint",
          color: $secondary,
          percentage: 80%,
        ),
      ),
    ),
    background: (
      primary: (
        base: #ffffff,
      ),
    ),
    text: (
      primary: (
        base: #ffffff,
        background: #212529,
      ),
    ),
    border: (
      secondary: (
        base: $secondary,
        muted: (
          operation: "tint",
          color: $secondary,
          percentage: 20%,
        ),
      ),
    ),
    link: (),
    icon: (),
    button: (),
  ),
  borders: (
    small: 0.2rem,
    medium: 0.4rem,
    large: 0.6rem,
  ),
);

// LIGHT THEME
$theme-colors-light: (
  primary: #3c9bd6,
  secondary: #2d6cdf,
  success: #16ca09,
);

$colors-light: $base-theme;

// Colorblind Light Theme
$colors-colorblind-light: map.deep-merge(
  $colors-light,
  (
    colors: (
      form: (
        feedback-valid: #116bdf,
        feedback-invalid: #9b5e10,
      ),
    ),
  )
);

// Dark Theme
$theme-modifications-dark: (
  colors: (
    theme: (
      primary: color.scale(#46c3db, $saturation: -30%),
      secondary: color.scale(#2d6cdf, $saturation: -30%),
    ),
    layout: (
      bg: #201f1d,
      text: #ffffffab,
    ),
    docs: (
      navbar-heading: #bbbbbb,
      navbar-link: #8c959e,
      navbar-link-active: #acb4bc,
    ),
  ),
  color-tokens: (
    surface: (
      primary: (
        base: $primary,
      ),
      secondary: (
        base: (
          operation: "shade",
          color: $secondary,
          percentage: 20%,
        ),
        muted: (
          operation: "shade",
          color: $secondary,
          percentage: 60%,
        ),
      ),
    ),
    background: (
      primary: (
        base: #201f1d,
      ),
    ),
    text: (
      primary: (
        base: #ffffff,
        background: #ffffffab,
      ),
    ),
    border: (
      secondary: (
        muted: $secondary,
      ),
    ),
  ),
);

$colors-dark: map.deep-merge($base-theme, $theme-modifications-dark);

// Colorblind Light Theme
$colors-colorblind-dark: map.deep-merge(
  $colors-dark,
  (
    colors: (
      form: (
        feedback-valid: #116bdf,
        feedback-invalid: #9b5e10,
      ),
    ),
  )
);

// Map of all themes
$themes: (
  light: $colors-light,
  colorblind-light: $colors-colorblind-light,
  dark: $colors-dark,
  colorblind-dark: $colors-colorblind-dark,
);
