@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/utilities" as *;

.error-404-message {
  @include gradient;
  color: getColor(text-primary);
  line-break: none;

  h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-size: $font-size-xxl;
  }

  a {
    color: getColor(text-primary);

    &:hover {
      color: getColor(text-hover-primary);
    }
  }

  &--text {
    padding: 0 1.5rem;
    text-align: center;
  }

  &--link-container {
    a {
      color: getColor(button-dark);
      white-space: nowrap;

      &:hover {
        color: getColor(hover-button-dark);
      }
    }
  }
}
