@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/utilities" as *;

.error-404-message {
  @include gradient;
  color: getColor(text-primary);
  line-break: none;

  h1 {
    padding-top: 1.5rem;
    text-align: center;
    font-size: $font-size-xxl;
  }

  a {
    color: getColor(text-primary);

    &:hover {
      color: getColor(text-hover-primary);
    }
  }

  &--text {
    padding: 0 15%;
    text-align: center;
  }

  &--links {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    a {
      color: $black;

      &:hover {
        color: getColor(hover-button-dark);
      }
    }
  }
}
