@use "../custom" as *;
@use "../components/mixins.scss" as *;

.bg-menu {
  @include gradient;

  .navbar-nav .nav-item {
    padding: 0 0.5rem;

    .nav-link {
      color: $white;
      font-weight: 600;
    }
  }
}
