@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/utilities" as *;

.bg-menu {
  @include gradient;

  .navbar-nav .nav-item {
    padding: 0 0.5rem;

    .nav-link {
      color: getColor(white); // TODO: Variable?
      font-weight: 600;
    }
  }
}

*[id]::before {
  display: block;
  content: " ";
  margin-top: -7rem;
  height: 7rem;
  visibility: hidden;
  pointer-events: none;
}
