@use "../../custom" as *;
@use "../../components/utilities" as *;

.dropzone {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem;

  background-color: getColor("code", "background");
  color: getColor("code", "default");

  p {
    margin: 0;
  }
}

.dropzone-container {
  margin-left: 0;
  margin-right: 0;
}

.endpoint-checker-enter-url {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &--first {
    padding-left: 0;
    padding-right: 0;
  }
  &--last {
    padding-right: 0;

    button {
      font-size: $font-size-lg;
    }
  }
}
