@use "../../custom" as *;

.what-todo {
  a {
    color: $primary;
    font-weight: 600;

    &:hover {
      color: darken($primary, 20%);
    }
  }
}

.issue_text {
  .issue_text_area {
    width: 100%;
    background-color: $gray-300;
    padding: 1rem;
    font-weight: 300;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    @include media-breakpoint-down(md) {
      padding-top: 2.7rem;
    }
  }
}
