@use "../../custom" as *;
@use "../../components/mixins" as *;
@use "../../components/utilities" as *;

.docs-container {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas: "sidebar main";
    gap: 1.5rem;
    grid-template-columns: 1fr 5fr;
  }
  margin-top: 7rem;
}

main {
  padding: 0 2rem;
}

.docs-sidebar {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  grid-area: sidebar;
}

.docs-navbar {
  position: sticky;
  top: 7rem;
  display: block !important;
  height: calc(100vh - 7rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;

  ul {
    list-style-type: none;
  }

  &--heading {
    margin: 0;
    padding-top: 1rem;
    font-size: $font-size-default;
    color: getColor(docs-navbar-heading);
    font-weight: 600;
  }

  &--first-element {
    padding-top: 0;
  }

  &--links {
    color: getColor(docs-navbar-link);
    text-decoration: none;
    font-size: $font-size-sm;

    &:hover {
      color: getColor(docs-navbar-link-active);
    }
  }

  &--active {
    color: getColor(docs-navbar-link-active);
  }
}

.docs-navigate-one-page {
  padding: 0.5rem 1.2rem;
  border: 1px solid getColor(docs-navigate-box-outline);
  border-radius: $border-medium;
  width: 100%;

  cursor: pointer;

  &:hover {
    border-color: getColor(theme-secondary);
  }

  &--previous {
    text-align: left;
  }

  &--next {
    text-align: right;
    margin-left: 1rem;
  }

  &--static-label {
    font-size: $font-size-sm;
  }

  &--dynamic-label {
    color: getColor(theme-secondary);
    font-weight: 800;
  }
}

pre code.hljs {
  white-space: pre-wrap;
  overflow-x: auto;
  max-width: 100%;
  border-radius: $border-large;
}
