@use "../../custom" as *;
@use "../../components/mixins" as *;
@use "../../components/utilities" as *;

.download-box {
  @include gradient;

  h1 {
    color: getColor("theme", "primary", "text");
    font-size: $font-size-xxl;
    font-weight: 600;
    word-spacing: 100vw;
    user-select: none;
  }

  button {
    max-width: 14.7rem;
    width: 100%;
    font-size: $font-size-lg;
    font-weight: 400;
  }

  ul {
    color: getColor("theme", "primary", "text");
    font-size: $font-size-lg;
    user-select: none;
  }
}

.supported-addons-box {
  background-color: getColor("layout", "bg");

  h2 {
    font-weight: 500;
    padding-bottom: 1rem;
  }

  &--addon {
    font-size: $font-size-md;

    margin-bottom: 0.5rem;

    p {
      margin-bottom: 0;
    }

    .feather-external-link {
      margin-left: 0.1rem;
      padding-bottom: 0.1rem;
    }
  }
}
