@use "../custom" as *;
@use "../themes" as *;
@use "utilities" as *;

.copy-button {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  margin: 0.5rem;

  border: 1px solid transparent;
  border-radius: $border-small;
  border-color: getColor(copy-button-border);

  background-color: getColor(code-background);

  position: absolute;
  color: getColor(copy-button-content);

  justify-content: center;
  display: flex;
  align-items: center;

  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover {
    border-color: getColor(hover-copy-button-border);
    background-color: getColor(hover-button-dark);
    cursor: pointer;
  }

  &:disabled {
    border-color: getColor(disabled-button-border-dark);
    background-color: getColor(code-background);
    color: getColor(disabled-button-dark);
    cursor: default;
  }

  &--copied {
    color: getColor(success);
  }
}

// Rewrite the button classes
@each $name, $color in $theme-colors-light {
  .sam-btn-#{$name} {
    background-color: getColor($name);
    border-color: getColor($name);
    color: getColor(text-#{$name});

    &:hover {
      background-color: getColor($name);
      border-color: getColor($name);
      color: getColor(text-#{$name});
    }

    &:focus {
      background-color: getColor($name);
      border-color: getColor($name);
      color: getColor(text-#{$name});
      box-shadow: 0 0 0 0.25rem rgba(getColorRGB($name), 0.5);
    }

    &:active {
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(getColorRGB($name), 0.5);
      }
    }
  }
}
