@use "../custom" as *;
@use "utilities" as *;

.copy-button {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  margin: 0.5rem;

  border: 1px solid transparent;
  border-radius: $border-small;
  border-color: getColor(gray-600);

  background-color: getColor(code-background);

  position: absolute;
  color: getColor(gray-500);

  justify-content: center;
  display: flex;
  align-items: center;

  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover {
    border-color: getColor(hover-gray-600);
    background-color: getColor(hover-button-dark);
    cursor: pointer;
  }

  &:disabled {
    border-color: getColor(disabled-button-border-dark);
    background-color: getColor(code-background);
    color: getColor(disabled-button-dark);
    cursor: default;
  }

  &--copied {
    color: getColor(success);
  }
}
