@use "../custom" as *;
@use "./utilities" as *;

.number-textfield {
  appearance: textfield;
}

.sam-form-control {
  color: getColor(layout-text);
  border-color: getColor(layout-text);
  background-color: getColor(layout-bg);

  &:focus {
    color: getColor(layout-text);
    border-color: getColor(layout-text);
    background-color: getColor(layout-bg);
    box-shadow: 0 0 0 0.25rem rgba(getColorRGB(theme-secondary), 0.25);
  }
}

.sam-form-select {
  border-color: getColor(layout-text);
  color: getColor(layout-text);
  background-color: getColor(layout-bg);

  &:focus {
    border-color: getColor(layout-text);
    box-shadow: 0 0 0 0.25rem rgba(getColorRGB(theme-secondary), 0.25);
  }
}

.sam-form-check-input {
  background-color: getColor(layout-bg);
  border-color: rgba(getColorRGB(layout-text), 0.25);

  &:checked {
    background-color: getColor(theme-secondary);
    border-color: getColor(theme-secondary);
  }

  &:focus {
    border-color: rgba(getColorRGB(theme-secondary), 0.4);
    box-shadow: 0 0 0 0.25rem rgba(getColorRGB(theme-secondary), 0.25);
  }
}

.sam-form-range {
  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.25rem rgba(getColorRGB(theme-secondary), 0.25);
    }
    &::-moz-range-thumb {
      box-shadow: 0 0 0 0.25rem rgba(getColorRGB(theme-secondary), 0.25);
    }
  }

  &::-webkit-slider-thumb {
    background-color: getColor(theme-secondary);
    cursor: $form-range-track-cursor;

    &:active {
      background-color: rgba(getColorRGB(theme-secondary), 0.8);
    }
  }

  &::-moz-range-thumb {
    background-color: getColor(theme-secondary);
    cursor: $form-range-track-cursor;

    &:active {
      background-color: rgba(getColorRGB(theme-secondary), 0.8);
    }
  }
}
